@charset "utf-8"; 
/* CSS Document */

body{
background-color: #000000;
}
nav{
line-height: 500%;
background-color: #f2f2f2;
text-align: right;
}
a{
text-decoration: none;
font-family: 'Times New Roman', Times, serif;
}
h1{
position: relative;
left: 0%;
top: 50px;
text-align: center;
font-family: 'Times New Roman', Times, serif;
color: white;
font-size: 60px;
text-shadow: 5px -2px 6px #e6e6e6;
}
p{
position: relative;
left: 13%;
top: 100px;
width: 71%;
height: 231px;
text-align: center;
font-family: Adobe Garamond Pro;
background-color: #d9d9d9;
font-size: 31px;
border-radius: 205px 0px 205px 0px;
padding: 20px;
border-top: 10px solid white;
border-right: 10px solid #f2f2f2;
}
.menu{
background-color: #0d0d0d;
color: white;
font-size: 25px;
margin: 4px 10px 4px 4px;
padding: 10px 20px 10px 20px;
border-top: 1px solid #CCCCCC;
border-right: 1px solid #333333;
border-bottom: 1px solid #333333;
border-left: 1px solid #CCCCCC;
transition: 0.4s
}
.menu:hover{
background-color: #404040;
color: white;
}
.navleft{
float: left;
height: 40%;
}